// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
$global-font-family: 'LXGW WenKai', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;

// Font family of the logo.
$logo-font-family: 'Chancery', cursive, LiSu, sans-serif !default;

// Font family of the code.
$code-font-family: 'LXGW WenKai', Consolas, Monaco, Menlo, "DejaVu Sans Mono",
 "Bitstream Vera Sans Mono", "Courier New", monospace !default;

 // Serif font family of the site.
$global-serif-font-family: 'LXGW WenKai', Athelas, STHeiti, Microsoft Yahei, serif !default;